:root {
  --blue: rgb(88, 164, 246);
  --light: #fff;
  --common-wh: 120px;
  --icon-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* 抽屉 */
.el-drawer__header {
  margin-bottom: 0 !important;
}

.el-drawer__body {
  padding-top: 0px !important;
}

.loading-icon {
  opacity: 0;
  user-select: none;
}

.loading-icon.loading {
  /* 旋转 */
  animation: spin 0.7s linear infinite;
  opacity: 1;
}

/* 旋转动画 */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* 设置页 */
.setting-page .el-input-group__prepend {
  background-color: var(--input-grepend-bg);
  padding: 0px 12px;
}

.setting-page .el-input-group__append {
  background-color: var(--input-append-bg);
  padding: 0;
  width: 50%;
}

.config-google-url .el-input-group__append {
  padding: 0;
  width: 8%;
}

.setting-page .el-input-group__append .el-input__wrapper {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.cusor-pointer {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    --icon-color: #000000;
    --input-grepend-bg: #ffffff;
    --input-append-bg: #ffffff;
    --color: #000000;
    --more-show-bg: rgba(0, 0, 0, 0.1);
  }
  body {
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #f4f4f4;
  }

  ::-webkit-scrollbar-thumb {
    border-color: #f4f4f4;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --icon-color: #ffffff;
    --input-grepend-bg: #262727;
    --input-append-bg: #141414;
    --color: #ffffff;
    --more-show-bg: rgba(255, 255, 255, 0.1);;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: #303133;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-color: #303133;
  }

  body {
    background-color: #303133;
    color: #fff;
  }
}
